[submodule "error-docker"]
	path = error-docker
	url = https://github.com/ErgoSaniTasSpA/error-docker
[submodule "@product-ms"]
	path = @product-ms
	url = https://github.com/Nest-MicroService-ms/products-ms
[submodule "@gate-way"]
	path = @gate-way
	url = https://github.com/Nest-MicroService-ms/gate-way
